<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http:///org/eclipse/stem/diseasemodels/experimental.ecore" 
       class = "org.eclipse.stem.diseasemodels.experimental.provider.ExperimentalItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http:///org/eclipse/stem/diseasemodels/experimental.ecore"
       class = "org.eclipse.stem.diseasemodels.experimental.ExperimentalPackage"
       genModel = "model/experimental.genmodel" /> 
  </extension>
  <extension
        point="org.eclipse.stem.diseasemodels.diseasemodel">
     <classdef
           class="org.eclipse.stem.diseasemodels.experimental.impl.PercolationDiseaseModelImpl">
     </classdef>
     <dublin_core
           creator="%dc_creator_kaufman"
           description="%dc_title_SP"
           identifier="%dc_identier"
           license="%dc_license"
           publisher="%dc_publisher"
           source="%dc_SOURCE"
           title="%dc_title_SP">
     </dublin_core>
  </extension>
<extension
        point="org.eclipse.stem.diseasemodels.diseasemodel">
     <classdef
           class="org.eclipse.stem.diseasemodels.experimental.impl.TBDiseaseModelImpl">
     </classdef>
     <dublin_core
           creator="%dc_creator_edlund"
           description="%dc_descr_TB"
           identifier="%dc_identier"
           license="%dc_license"
           publisher="%dc_publisher"
           source="%dc_SOURCE"
           title="%dc_title_TB">
     </dublin_core>
  </extension>
</plugin>
