<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>  
   <extension
        point="org.eclipse.ui.menus">        
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.eclipse.stem.ui.command.displayidentifiable"             
              label="%_UI_STEM_Command_Display "
              style="push"
              tooltip="%_UI_STEM_Command_DisplayTT">
            <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="org.eclipse.stem.ui.isDisplayableIdentifiable">
              </reference>
           </visibleWhen>
        </command>
     </menuContribution>     
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.eclipse.stem.ui.command.displaycanonicalidentifiable"             
              label="%_UI_STEM_Command_DisplayCanonical "
              style="push"
              tooltip="%_UI_STEM_Command_DisplayCanonicalTT">
            <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="org.eclipse.stem.ui.isDisplayableCanonicalIdentifiable">
              </reference>
           </visibleWhen>
        </command>
     </menuContribution>    
  </extension>  
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.eclipse.stem.ui.grapheditor.handlers.GraphDisplay"
           description="%_UI_Display_description"
           id="org.eclipse.stem.ui.command.displayidentifiable"
           name="%_UI_Display_label">
     </command>     
      <command
       defaultHandler="org.eclipse.stem.ui.grapheditor.handlers.CanonicalGraphDisplay"
       description="%_UI_CanonicalDisplay_description"
       id="org.eclipse.stem.ui.command.displaycanonicalidentifiable"
       name="%_UI_CanonicalDisplay_label">
 	 </command>
  </extension> 
  <extension
        point="org.eclipse.core.expressions.definitions">    
     <definition
           id="org.eclipse.stem.ui.isDisplayableIdentifiable">
        <and>
           <count
                 value="1">
           </count>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.stem.core.graph.Graph">
              </instanceof>
           </iterate>
        </and>
     </definition>  
     <definition id="org.eclipse.stem.ui.isDisplayableCanonicalIdentifiable">
        <and>
           <count
                 value="1">
           </count>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.eclipse.stem.core.model.Model">
              </instanceof>
           </iterate>
        </and>
     </definition>    
  </extension>     
</plugin>
