<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.stem.diseasemodels.standard.presentation.StandardModelWizardID"
      name = "%_UI_StandardModelWizard_label"
      class = "org.eclipse.stem.diseasemodels.standard.presentation.StandardModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/StandardModelFile.gif">
      <description>%_UI_StandardModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
          category="org.eclipse.stem.ui.wizards.stemcategory"
          class="org.eclipse.stem.ui.wizards.NewDiseaseWizard"
          hasPages="true"
          icon="icons/full/obj16/StandardModelFile.gif"
          id="org.eclipse.stem.diseasemodels.standard.presentation.StandardModelWizardID"
          name="%_UI_Disease"/>
    <wizard
          category="org.eclipse.stem.ui.wizards.stemcategory"
          class="org.eclipse.stem.ui.wizards.NewInfectorWizard"
          hasPages="true"
          icon="icons/full/obj16/StandardModelFile.gif"
          id="org.eclipse.stem.diseasemodels.standard.presentation.StandardModelInfectorID"
          name="%_UI_Infector"/>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.stem.diseasemodels.standard.presentation.StandardEditorID"
        name = "%_UI_StandardEditor_label"
        icon = "icons/full/custom16/Decorator.gif"
        extensions = "standard"
        class = "org.eclipse.stem.diseasemodels.standard.presentation.StandardEditor" 
        contributorClass="org.eclipse.stem.diseasemodels.standard.presentation.StandardActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.eclipse.stem.ui.views"
           class="org.eclipse.stem.ui.views.disease.DiseaseView"
           icon="icons/full/custom16/disease.gif"
           id="org.eclipse.stem.ui.views.diseases"
           name="%_UI_DView_Name"/>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.eclipse.stem.ui.STEMDesignerPerspective">
        <view
              closeable="true"
              id="org.eclipse.stem.ui.views.diseases"
              moveable="true"
              relationship="stack"
              relative="org.eclipse.stem.ui.views.scenarios"
              showTitle="true"
              standalone="false"
              visible="true"/>
        <viewShortcut id="org.eclipse.stem.ui.views.diseases"/>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.eclipse.stem.ui.adapters.newmodifierpage.DiseaseNewModifierPageAdapterFactory"></startup>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.stem.ui.menu.newwizards?after=additions">
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.disease"
              icon="icons/full/custom16/disease.gif"
              label="%_UI_DiseaseModelWizard_label"
              style="push"
              tooltip="%_UI_ModelModelWizard_description">
        </command>
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.infector"
              icon="icons/full/custom16/infector.gif"
              label="%_UI_InfectorWizard_label"
              style="push"
              tooltip="%_UI_InfectorWizard_description">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.stem.ui.toolbar.newwizards?after=scenariocontent">
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.disease"
              icon="icons/full/custom16/disease.gif"
              label="%_UI_DiseaseModelWizard_label"
              style="push"
              tooltip="%_UI_ModelModelWizard_description">
        </command>
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.infector"
              icon="icons/full/custom16/infector.gif"
              label="%_UI_InfectorWizard_label"
              style="push"
              tooltip="%_UI_InfectorWizard_description">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.diseaseinitializer"
              icon="icons/full/custom16/Initializer.gif"
              label="%_UI_StandardDiseaseInitializerWizard_label"
              style="push"
              tooltip="%_UI_StandardDiseaseInitializerWizard_description">
           <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="org.eclipse.stem.ui.isDiseaseModel">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.stem.ui.diseasemodels.command.wiz.externalinitializer"
              icon="icons/full/custom16/Initializer.gif"
              label="%_UI_ExternalDataSourceDiseaseInitializerWizard_label"
              style="push"
              tooltip="%_UI_ExternalDataSourceDiseaseInitializerWizard_description">
           <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="org.eclipse.stem.ui.isDiseaseModel">
              </reference>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.eclipse.stem.ui.wizards.NewDiseaseWizard$NewDiseaseWizardCommandHandler"
           description="%_UI_ModelModelWizard_description"
           id="org.eclipse.stem.ui.diseasemodels.command.wiz.disease"
           name="%_UI_DiseaseModelWizard_label">
     </command>
     <command
           defaultHandler="org.eclipse.stem.ui.wizards.NewInfectorWizard$NewInfectorWizardCommandHandler"
           description="%_UI_InfectorWizard_description"
           id="org.eclipse.stem.ui.diseasemodels.command.wiz.infector"
           name="%_UI_InfectorWizard_label">
     </command>
     <command
           defaultHandler="org.eclipse.stem.ui.wizards.NewStandardDiseaseInitializerWizard$NewInitializerWizardCommandHandler"
           description="%_UI_StandardDiseaseInitializerWizard_description"
           id="org.eclipse.stem.ui.diseasemodels.command.wiz.diseaseinitializer"
           name="%_UI_StandardDiseaseInitializerWizard_label">
     </command>
     <command
           defaultHandler="org.eclipse.stem.ui.wizards.NewExternalDataSourceDiseaseInitializerWizard$NewInitializerWizardCommandHandler"
           description="%_UI_ExternalDataSourceDiseaseInitializerWizard_description"
           id="org.eclipse.stem.ui.diseasemodels.command.wiz.externalinitializer"
           name="%_UI_ExternalDataSourceDiseaseInitializerWizard_label">
     </command>
  </extension>
  <extension
        point="org.eclipse.stem.ui.colorproviders">
     <coloprovider
           factory="org.eclipse.stem.ui.adapters.color.IntensityColorsLabelsMappingColorProviderAdapterFactory"
           name="Labels Colors Mapping"
           provider="org.eclipse.stem.ui.adapters.color.IntensityColorsLabelsMappingColorProvider">
     </coloprovider>
     <coloprovider
           factory="org.eclipse.stem.ui.adapters.color.SEIRRelativeValueColorProviderAdapterFactory"
           name="&quot;Rainbow&quot; Relative Values"
           provider="org.eclipse.stem.ui.adapters.color.SEIRRelativeValueColorProvider">
     </coloprovider>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
        <viewer
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
     </viewer>
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           
           
           <contentExtension
                 pattern="org.eclipse.stem.ui.views.explorer.recordedcsvinstances">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           contentProvider="org.eclipse.stem.ui.views.explorer.DiseaseModelTreeNodeContentProvider"
           id="org.eclipse.stem.ui.views.explorer.diseasemodels"
           labelProvider="org.eclipse.stem.ui.views.explorer.DiseaseModelTreeNodeLabelProvider"
           name="%_UI_Disease_Models">
        <triggerPoints>
           <adapt
                 type="org.eclipse.core.resources.IProject">
           </adapt>
        </triggerPoints>
        <possibleChildren>
           <instanceof
                 value="org.eclipse.stem.ui.views.explorer.IdentifiableTreeNode">
           </instanceof>
        </possibleChildren>
     </navigatorContent>
     <navigatorContent
           contentProvider="org.eclipse.stem.ui.views.explorer.DiseaseModelInstanceTreeNodeContentProvider"
           id="org.eclipse.stem.ui.views.explorer.diseasemodelsinstances"
           labelProvider="org.eclipse.stem.ui.views.explorer.DiseaseModelInstanceTreeNodeLabelProvider"
           name="%_UI_DM_Instances">
        <triggerPoints>
           <adapt
                 type="org.eclipse.stem.ui.views.explorer.DiseaseModelTreeNode">
           </adapt>
        </triggerPoints>
        <possibleChildren>
           <instanceof
                 value="org.eclipse.stem.ui.views.explorer.IdentifiableTreeNode">
           </instanceof>
        </possibleChildren>
     </navigatorContent>
     <navigatorContent
           contentProvider="org.eclipse.stem.ui.views.explorer.RecordedCSVInstanceTreeNodeContentProvider"
           id="org.eclipse.stem.ui.views.explorer.recordedcsvinstances"
           labelProvider="org.eclipse.stem.ui.views.explorer.RecordedCSVInstanceTreeNodeLabelProvider"
           name="%_UI_Recorded_CSV ">
        <triggerPoints>
           <instanceof
                 value="org.eclipse.stem.ui.views.explorer.RecordedTreeNode">
           </instanceof>
        </triggerPoints>
        <possibleChildren>
           <instanceof
                 value="org.eclipse.stem.ui.views.explorer.RecordedCSVInstanceTreeNode">
           </instanceof>
        </possibleChildren>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.eclipse.stem.ui.isDiseaseModel">
        <iterate
              ifEmpty="false"
              operator="and">
           <instanceof
                 value="org.eclipse.stem.diseasemodels.standard.DiseaseModel">
           </instanceof>
        </iterate>
     </definition>
  </extension>    
   <extension
         point="org.eclipse.core.runtime.applications"
         id="DiseasemodelsEditorAdvisorApplication">
      <!-- @generated diseasemodels -->
      <application>
         <run class="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated diseasemodels -->
      <perspective
            name="%_UI_Perspective_label"
            class="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$Perspective"
            id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$AboutDiseaseModelHandler"
            description="test"
            id="org.eclipse.stem.ui.diseasemodels.DiseasemodelsEditorAdvisor$AboutCommand"
            name="aboutCommand">
      </command>
      <!-- @generated diseasemodels -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            defaultHandler="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenURICommand"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenCommand"
            id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenCommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewStanderdModelCommand"
            id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewStanderdModelCommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewDieseasePredicatesCommand"
            id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewDieseasePredicatesCommand"/>
            
   </extension>

   <!-- <extension point="org.eclipse.ui.bindings">
      @generated diseasemodels -->
      <!--<key
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>-->

   <!--<extension point="org.eclipse.ui.actionSets">
       @generated diseasemodels 
      <actionSet
            label="%_UI_DiseasemodelsEditorAdvisor_ActionSet_label"
            visible="true"
            id="DiseasemodelsEditorAdvisorActionSet">
          
         <action
               label="%_UI_Menu_About_label"
               class="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenURICommand"
               class="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenCommand"
               class="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>-->

  <!--  <extension point="org.eclipse.ui.actionSets">
       @generated diseasemodels 
      <actionSet
            label="%_UI_StandardModelWizard_ActionSet_label"
            visible="true"
            id="org.eclipse.stem.diseasemodels.standard.presentation.StandardActionBarContributorActionSet">
         <action
               label="%_UI_StandardModelWizard_label"
               class="org.eclipse.stem.diseasemodels.standard.presentation.StandardActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="org.eclipse.stem.diseasemodels.standard.presentation.StandardActionBarContributorNewAction"/>
      </actionSet>
   </extension>-->

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diseasemodels -->
      <editor
            id="org.eclipse.stem.diseasemodels.standard.presentation.StandardEditorID"
            name="%_UI_StandardEditor_label"
            icon="icons/full/obj16/StandardModelFile.gif"
            extensions="standard"
            class="org.eclipse.stem.diseasemodels.standard.presentation.StandardEditor"
            contributorClass="org.eclipse.stem.diseasemodels.standard.presentation.StandardActionBarContributor">
      </editor>
   </extension>

   <!--<extension point="org.eclipse.ui.actionSets">
       @generated diseasemodels 
      <actionSet
            label="%_UI_DiseasepredicatesModelWizard_ActionSet_label"
            visible="true"
            id="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesActionBarContributorActionSet">
         <action
               label="%_UI_DiseasepredicatesModelWizard_label"
               class="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesActionBarContributorNewAction"/>
      </actionSet>
   </extension>-->

   <extension point="org.eclipse.ui.editors">
      <!-- @generated diseasemodels -->
      <editor
            id="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesEditorID"
            name="%_UI_DiseasepredicatesEditor_label"
            icon="icons/full/obj16/DiseasepredicatesModelFile.gif"
            extensions="diseasepredicates"
            class="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesEditor"
            contributorClass="org.eclipse.stem.diseasemodels.predicates.diseasepredicates.presentation.DiseasepredicatesActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="org.eclipse.stem.ui.diseasemodels.DiseasemodelsEditorAdvisor$AboutCommand"
               helpContextId="about command"
               label="%_UI_Menu_About_label"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.stem.ui.diseasemodels.DiseasemodelsEditorAdvisor$AboutCommand"
            icon="icons/full/custom16/disease.gif">
      </image>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file">
         <command
               commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenURICommand"
               helpContextId="Open URI command"
               label="%_UI_Menu_OpenURI_label"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenURICommand"
            icon="icons/full/custom16/disease.gif">
      </image>
   </extension>
   
   
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file" >
         <command
               commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenCommand"
               helpContextId="Open command"
               label="%_UI_Menu_Open_label"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$OpenCommand"
            icon="icons/full/custom16/disease.gif">
      </image>
   </extension>
   
   
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:new" >
         <command
               commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewStanderdModelCommand"
               helpContextId="Open command"
               label="%_UI_StandardModelWizard_label"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewStanderdModelCommand"
            icon="icons/full/custom16/disease.gif">
      </image>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:new" >
         <command
               commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewDieseasePredicatesCommand"
               helpContextId="Open command"
               label="%_UI_DiseasepredicatesModelWizard_label"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.stem.diseasemodels.standard.presentation.DiseasemodelsEditorAdvisor$NewDieseasePredicatesCommand"
            icon="icons/full/custom16/disease.gif">
      </image>
   </extension>
   
   
</plugin>
