A {color: #000; text-decoration: none;}
.idHeader {background-color:#00ffff; font-weight: bold;}
.idBody {background-color:#c8ffff;}
.dcBody {background-color:#e1ffe1;}
.dcHeader {background-color:#c8ffc8;}
.scenario {background-color:#c8c8ff;}
.blank {background-color: #fff;}