<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.stem.definitions.transport.presentation.TransportEditorID"
            name="%_UI_TransportEditor_label"
            icon="icons/full/obj16/TransportModelFile.gif"
            extensions="transport"
            class="org.eclipse.stem.definitions.transport.presentation.TransportEditor"
            contributorClass="org.eclipse.stem.definitions.transport.presentation.TransportActionBarContributor">
      </editor>
   </extension>

</plugin>
