<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/evolvingcrossspeciesmodel/evolvingcrossspeciesmodel.ecore"
            class="org.eclipse.stem.evolvingcrossspeciesmodel.provider.EvolvingCrossSpeciesModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/evolvingcrossspeciesmodel/evolvingcrossspeciesmodel.ecore"
            class="org.eclipse.stem.evolvingcrossspeciesmodel.EvolvingCrossSpeciesModelPackage"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelModelWizardID"
            name="%_UI_EvolvingCrossSpeciesModelModelWizard_label"
            class="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EvolvingCrossSpeciesModelModelFile.gif">
         <description>%_UI_EvolvingCrossSpeciesModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelEditorID"
            name="%_UI_EvolvingCrossSpeciesModelEditor_label"
            icon="icons/full/obj16/EvolvingCrossSpeciesModelModelFile.gif"
            extensions="evolvingcrossspeciesmodel"
            class="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelEditor"
            contributorClass="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelActionBarContributor">
      </editor>
   </extension>

	<extension point="org.eclipse.stem.diseasemodels.diseasemodel">
		<classdef class="org.eclipse.stem.evolvingcrossspeciesmodel.impl.EvolvingCrossSpeciesModelImpl"></classdef>
		<dublin_core
			creator=""
			description=""
			identifier=""
			source=""
			title="Evolving Cross Species Model"
			license=""
			publisher="">
		</dublin_core>
	</extension>


  <extension
        point="org.eclipse.ui.startup">        
     <startup
           class="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelPropertyEditorAdapterFactory">
     </startup>
     <startup
           class="org.eclipse.stem.evolvingcrossspeciesmodel.presentation.EvolvingCrossSpeciesModelRelativeValueProviderAdapterFactory">
     </startup>     
  </extension>


</plugin>
