<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="populationmodel" name="%EP_Populationmodel" schema="schema/populationmodel.exsd"/>
   <extension-point id="populationinitializer" name="%EP_Populationinitializer" schema="schema/populationinitializer.exsd"/>
   
   
	<extension point="org.eclipse.stem.model.metamodel">
	<metamodel
       path="model/standard.metamodel">
	</metamodel>
	</extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/populationmodels/standard"
            class="org.eclipse.stem.populationmodels.standard.StandardPackage"
            genModel="model/standard.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.eclipse.stem.populationmodels.standard.provider.StandardItemProviderAdapterFactory"
            uri="http:///org/eclipse/stem/populationmodels/standard"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.StandardPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            description="%dc_desc_PM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_PM">
      </dublin_core>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.StochasticStandardPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            description="%dc_desc_SPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_SPM">
      </dublin_core>
   </extension>
    <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.SeasonalPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_kaufman"
            description="%dc_desc_Seasonal_PM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_Seasonal_PM">
      </dublin_core>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.DemographicPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            description="%dc_desc_DPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_DPM">
      </dublin_core>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.AgingPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_thoens"
            description="%dc_desc_ADPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_ADPM">
      </dublin_core>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.MosquitoPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_stemteam"
            description="%dc_desc_MPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_MPM">
      </dublin_core>
   </extension>
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.ExternalDataSourcePopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_stemteam"
            description="%dc_desc_EXTPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_EXTPM">
      </dublin_core>
   </extension>
   
   <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.SinModulatePopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_khu"
            description="%dc_desc_SMPM"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_SMPM">
      </dublin_core>
   </extension>
    <extension
         point="org.eclipse.stem.populationmodels.populationmodel">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.SeasonalMigratoryPopulationModelImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_kaufman"
            description="%dc_desc_seasonalmigratory"
            identifier="%dc_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_SOURCE"
            title="%dc_title_seasonalmigratory">
      </dublin_core>
   </extension>
   
   <extension
         point="org.eclipse.stem.populationmodels.populationinitializer">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.StandardPopulationInitializerImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            identifier="%dc_init_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_Pop_init_SOURCE"
            description="%dc_desc_Pop_Init"
            title="%dc_title_Pop_Init">
      </dublin_core>
   </extension>
  
   <extension
         point="org.eclipse.stem.populationmodels.populationinitializer">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.YetiPopulationInitializerImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            identifier="%dc_init_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_Pop_init_SOURCE"
            description="%dc_desc_Yeti_Init"
            title="%dc_title_Yeti_Init">
      </dublin_core>
   </extension>
      <extension
         point="org.eclipse.stem.populationmodels.populationinitializer">
      <classdef
            class="org.eclipse.stem.populationmodels.standard.impl.ExternalDataSourcePopulationInitializerImpl">
      </classdef>
      <dublin_core
            category_id="/"
            creator="%dc_creator_edlund"
            identifier="%dc_init_identier"
            license="%dc_license"
            publisher="%dc_publisher"
            source="%dc_Pop_init_SOURCE"
            description="%dc_desc_Extdc_Init"
            title="%dc_title_Extdc_Init">
      </dublin_core>
   </extension>
   
</plugin>
