<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="STEM4" sequenceNumber="6">
	<locations>
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
	      	<unit id="org.eclipse.birt.feature.group" version="4.7.0.v201706222054"/>
			<repository location="http://download.eclipse.org/releases/2019-09"/>
	    </location>
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.25.0.v20210114-1734"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.25.0.v20210111-0955"/>
			<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
			<unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
			<repository location="http://download.eclipse.org/releases/2021-03/"/>
		</location>
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.batik.dom" version="1.13.0.v20201124-1839"/>
			<unit id="org.apache.batik.dom.svg" version="1.13.0.v20201124-1839"/>
			<unit id="org.apache.batik.svggen" version="1.13.0.v20201124-1836"/>
			<unit id="org.apache.commons.collections4" version="4.4.0.v20200420-1700"/>
			<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops2/S20210216215844/repository/"/>
		</location>
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.sdk.ide" version="4.18.0.I20201202-1800"/>
			<unit id="org.eclipse.equinox.executable" version="3.8.1000.v20200915-1508"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1000.v20200915-1508"/>
			<unit id="org.eclipse.help.ui" version="4.2.100.v20200923-2139"/>
			<repository location="http://download.eclipse.org/eclipse/updates/4.18"/>
		</location>
		<location>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full" version="11.0.2.v20200815-0835"/>
			<unit id="a.jre.org.eclipse.justj.openjdk.hotspot.jre.full" version="11.0.0"/>
			<repository location="https://download.eclipse.org/justj/jres/11/updates/release/latest/"/>
		</location>
	</locations>
</target>