<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///org/eclipse/stem/diseasemodels/veterinary/veterinary.ecore"
            class="org.eclipse.stem.diseasemodels.veterinary.provider.VeterinaryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/stem/diseasemodels/veterinary/veterinary.ecore"
            class="org.eclipse.stem.diseasemodels.veterinary.VeterinaryPackage"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryModelWizardID"
            name="%_UI_VeterinaryModelWizard_label"
            class="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VeterinaryModelFile.gif">
         <description>%_UI_VeterinaryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryEditorID"
            name="%_UI_VeterinaryEditor_label"
            icon="icons/full/obj16/VeterinaryModelFile.gif"
            extensions="veterinary"
            class="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryEditor"
            contributorClass="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryActionBarContributor">
      </editor>
   </extension>

	<extension point="org.eclipse.stem.diseasemodels.diseasemodel">
		<classdef class="org.eclipse.stem.diseasemodels.veterinary.impl.SimpleVeterinaryDiseaseImpl"></classdef>
		<dublin_core
			creator=""
			description=""
			identifier=""
			source=""
			title="Simple Veterinary Disease"
			license=""
			publisher="">
		</dublin_core>
	</extension>
	
	
	<extension point="org.eclipse.stem.populationmodels.populationmodel">
		<classdef class="org.eclipse.stem.diseasemodels.veterinary.impl.ContaminatedUnitsImpl"></classdef>
		<dublin_core
			creator=""
			description="Feces"
			identifier=""
			source=""
			title="Contaminated Units"
			license=""
			publisher="">
		</dublin_core>
	</extension>
	


  <extension
        point="org.eclipse.ui.startup">        
     <startup
           class="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryPropertyEditorAdapterFactory">
     </startup>
     <startup
           class="org.eclipse.stem.diseasemodels.veterinary.presentation.VeterinaryRelativeValueProviderAdapterFactory">
     </startup>     
  </extension>


</plugin>
